<?xml version="1.0" encoding="utf-8"?>
<robot name="flisat_leg">

  <link name="flisat_leg_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="1.0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://stool_description/meshes/flisat_leg.stl" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://stool_description/meshes/flisat_leg.stl" scale="1 1 1" />
      </geometry>
    </collision>
  </link>

  <!-- define the ur5's position and orientation in the world coordinate system -->          
</robot>

